<nav class="pv3 ph3 ph4-ns" role="navigation">
  <div class="flex-l justify-between items-center center">
    <a href="{{ .Site.Home.RelPermalink }}" class="f3 fw2 hover-white no-underline white-90 dib">
      {{ with .Site.Params.site_logo }}
        <img src="{{ relURL . }}" class="w100 mw5-ns" alt="{{ $.Site.Title }}" />
      {{ else }}
        {{ .Site.Title }}
      {{ end }}
    </a>
    <!-- Desktop Navs -->
    <div class="flex-l items-center" id="desktopHeader">
      {{ partial "i18nlist.html" . }}
      {{ if .Site.Menus.main }}
        <ul class="{{ cond (eq $.Site.Language.LanguageDirection "rtl") "pr0 ml3" "pl0 mr3" }}">
          <li class="list f5 f4-ns fw4 dib">
            <div class="dropdown dropdown2 flex-l justify-between items-center center">
              <a class="dropbtn dropbtn2 hover-white no-underline white-90" href="https://www.nullsheen.com/software">Shadowrun Tools &#9660;</a>
              <div class="dropdown-content">
                <a href="https://character-generator.nullsheen.com/" target="_blank">Character Generator (2nd/3rd)</a>
                <a href="https://matrix2.nullsheen.com/" target="_blank">Matrix Builder (2nd)</a>
                <a href="https://matrix.nullsheen.com/" target="_blank">Matrix Generator (3rd)</a>
                <a href="https://initiative-tracker.nullsheen.com/" target="_blank">Initative Tracker (2nd/3rd)</a>
                <a href="https://shadowrun-run-generator.nullsheen.com/" target="_blank">Run Generator</a>
                <a href="https://weapon-designer.nullsheen.com/" target="_blank">Weapon Designer (3rd)</a>
                <hr>
                <a href="https://fallout-status-tracker.nullsheen.com/" target="_blank">Fallout Status Tracker (Fallout - Modephus 2d20)</a>
                <a href="https://rifts-initiative-tracker.nullsheen.com/" target="_blank">Rifts Initative Tracker</a>
              </div>
            </div>
          </li>
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="ml-onclick-form over-white no-underline white-90" href="javascript:void(0)" onclick="ml('show', 'wHbKBq', true)">Newsletter Signup</a>
          </li>

          {{ range .Site.Menus.main }}
          <li class="list f5 f4-ns fw4 dib {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl3" "pr3" }}">
            <a class="hover-white no-underline white-90" href="{{ .URL }}" title="{{ i18n "pageTitle" . }}">
              {{ .Name }}
            </a>
          </li>
          {{ end }}
        </ul>
      {{ end }}
      {{ partialCached "social-follow.html" . }}
    </div>
    <!-- Smaller Navs -->
    <div class="flex-l items-center" id="smallerHeader">
      <div class="stickyBar hide-for-medium-down accentBack">
        <a href="#" class="menu-trigger" aria-label="Click to open menu">
          <img src="/images/menu-icon.svg" alt="Menu Icon" width="50" class="marginBottom5" draggable="false">
          <div class="uppercase">Menu</div>
        </a>
      </div>
      <div id="mobileMenuContainer" style="display: none;">
        <ul>
          <li><a href="https://www.nullsheen.com/software">Shadowrun Tools</a></li>
          <li class="toolPadding"><a href="https://character-generator.nullsheen.com/" target="_blank">Character Generator (2nd/3rd)</a></li>
          <li class="toolPadding"><a href="https://matrix2.nullsheen.com/" target="_blank">Matrix Builder (2nd)</a></li>
          <li class="toolPadding"><a href="https://matrix.nullsheen.com/" target="_blank">Matrix Generator (3rd)</a></li>
          <li class="toolPadding"><a href="https://initiative-tracker.nullsheen.com/" target="_blank">Initative Tracker (2nd/3rd)</a></li>
          <li class="toolPadding"><a href="https://shadowrun-run-generator.nullsheen.com/" target="_blank">Run Generator</a></li>
          <li class="toolPadding"><a href="https://weapon-designer.nullsheen.com/" target="_blank">Weapon Designer (3rd)</a></li>
          <li><hr></li>
          <li class="toolPadding"><a href="https://fallout-status-tracker.nullsheen.com/" target="_blank">Fallout Status Tracker (Fallout - Modephus 2d20)</a></li>
          <li class="toolPadding"><a href="https://rifts-initiative-tracker.nullsheen.com/" target="_blank">Rifts Initative Tracker</a></li>
          <li><a href="javascript:void(0)" onclick='ml("show","wHbKBq",!0)'>Newsletter Signup</a></li>
          <li><a href="https://www.nullsheen.com/archive" title="The Archive page">The Archive</a></li>
          <li><a href="https://www.nullsheen.com/contact" title="Contact page">Contact</a></li>
          <li><a href="https://www.nullsheen.com/about-me" title="About Me page">About Me</a></li>
          <li><a href="https://www.nullsheen.com/shadowrun-books" title="Shadowrun Books page">Shadowrun Books</a></li>
          <li><a href="https://www.nullsheen.com/shadowrun-podcasts-list" title="Shadowrun Podcasts page">Shadowrun Podcasts</a></li>
          <li><a href="https://www.nullsheen.com/software" >Shadowrun Software</a></li>
          <!-- <li><a href="https://www.nullsheen.com/vtt-map-library/">VTT Map Library</a></li> -->

        </ul>
      </div>
    </div>
  </div>
</nav>
