{{ with partialCached "func/style/GetMainCSS" "style/GetMainCSS" }}
<link rel="stylesheet" href="{{ .RelPermalink }}" >
{{ end }}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css" >
{{ range site.Params.custom_css }}
  {{ with partialCached "func/style/GetResource" . . }}{{ else }}
    <link rel="stylesheet" href="{{ relURL (.) }}">
  {{ end }}
{{ end }}
<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 335px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#mobileMenuContainer{
  padding:20px;
  background-color: white;
}

#mobileMenuContainer ul{
  list-style: none;
  padding-left: 0;
}

#mobileMenuContainer li a{
  margin-top:5px;
  display: inline-block;
  padding:5px;
}

#smallerHeader > div.stickyBar.hide-for-medium-down.accentBack > a > div{
  color:white;
  margin-top:5px;
}

#smallerHeader {
  margin-top: 10px;
}

.toolPadding{
  padding-left:10px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #desktopHeader{
    display:none;
  }
  #smallerHeader{
    display:block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #desktopHeader{
    display:none;
  }
  #smallerHeader{
    display:block;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  #desktopHeader{
    display:none;
  }
  #smallerHeader{
    display:block;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #desktopHeader{
    display:block;
  }
  #smallerHeader{
    display:none;
  }
}
</style>