Image by <a href="https://www.freepik.com/free-vector/modern-white-technology-wallpaper_6390475.htm#query=circuit%20white%20background&position=15&from_view=keyword&track=ais_user&uuid=63189a17-f8e8-416f-a697-cd25e284f169">Freepik</a>
<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
