{{/* For Users's overwrite */}}
<!-- Fathom - beautiful, simple website analytics -->
<script src="https://cdn.usefathom.com/script.js" data-spa="auto" data-site="YOACWQSB" defer></script>
<!-- / Fathom -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-FC158GDTHC"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-FC158GDTHC');
</script>
<script>window._epn = {campaign: 5339061858, smartPopover:false};</script>
<script src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
<script type='text/javascript'>kofiwidget2.init('Support Me on Ko-fi', '#29abe0', 'F2F1S4D3R');kofiwidget2.draw();</script> 
<style>
     body .btn-container {
       display: inline-block !important;
       white-space: nowrap;
       min-width: 160px;
       float: right;
       position: sticky;
       right: 15px;
       top: 10px;
   }
   </style> 
<!-- 
     Removing Ads for now, its not worth the damage to the sites traffic.
     
     <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2802312263939980"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-2802312263939980"
     data-ad-slot="1510230396"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->